<h1 class="inner-pages-heading">About</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 shadow p-4 mb-3 bg-white rounded">
      <div class="text-align-centre">
        <p>
          Welcome to my blog site.
        </p>
        <p>
          This site was created as a project to learn ruby on rails. For the moment it sits as a generic blog, without content,
          until I get my butt into gear and start populating it with...something. I know right, the pressure of it all. Well for
          the moment let me thank you for:
        </p>
        <ol>
          <li>Stumbling upon this site.</li>
          <li>Finding your way to this page.</li>
          <li>Reading this far.</li>
        </ol>
        <p>
          So therefore, when it all boils down, you're the star here. Give yourself a clap on the back, an ice-cream, or maybe a
          little tap of congratulations on the bot-bot.
        </p>
        <p>
          Ok, I'm done.
        </p>
        <p>
          Ciao for niao.
        </p>

      </div>
    </div>
  </div>
</div>
