<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron">
      <div class="container" id="jumbotron_inner_container">
        <h1 class="display-4">Latest Article</h1>
        <p class="lead">Introductory sentences of the latest article. Wow, exciting...</p>
      </div>
    </div>
  </div>

  <div class="container" id="secondary_contents_container">
    <div class="card" style="float:left;margin-right:1rem" id="article_2">
        <h5 class="card-title">2nd Latest Article</h5>
        <p class="card-text">Article introductory sentence goes here...</p>
        <a href="#" type="button" class="btn btn-light"">Go to article</a>
    </div>
    <div class="card" style="float:left;margin-right:1rem" id="article_3">
        <h5 class="card-title">3rd Latest Article</h5>
        <p class="card-text">Article introductory sentence goes here...</p>
        <a href="#" type="button" class="btn btn-light"">Go to article</a>
    </div>
    <div class="card" style="padding:1%" id="article_4">
        <h5 class="card-title">4th Latest Article</h5>
        <p class="card-text">Article introductory sentence goes here...</p>
        <a href="#" type="button" class="btn btn-light"">Go to article</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
