<div class="container" id="home-container">
  <div class="jumbotron">
    <div class="container" id="jumbotron_inner_container">
      <div class="row justify-content-center">
        <h1 class="display-4">Welcome to AlphaBlog</h1>
      </div>
      <div class="row justify-content-center">
        <p class="lead">A generic blog site. It's my first rails project!</p>
      </div>
      <div class="row justify-content-center">
        <%= link_to "Go to the articles", articles_path, class: "btn mr-2 btn-light" %>
        <%= link_to "Sign up", signup_path, class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>
